/* common.css */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
} 

/* In your common.css or relevant CSS file */
.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
  min-height: 100vh;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
}